/*====================[San Francisco Text]====================*/
@font-face{
  font-family:'SanFranciscoText-Regular';
  src:url('../fonts/San Francisco/SanFranciscoText-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[San Francisco Display]====================*/
@font-face{
  font-family:'SanFranciscoDisplay-Regular';
  src:url('../fonts/San Francisco/SanFranciscoDisplay-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}